<!doctype html>
<html>
    <head>
        <title>Library</title>
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Create</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}"><b>My Notes</b></a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
